<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.pico">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.BTConnect"
            android:enabled="true" />
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="true"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v3">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService.v3"></action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="22qMv6xEUe9KSrVz5eAw" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="7Q1CXqJ7yaXwtbS8WcR1Zw" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="N4Vn4GkCkAvU0ILMnSJMd/MLCqRNQd4Dj3aExBtRk0CJ2F5spehPc+JE6P6SeH1i3vzmZcFXWvV0HnBIdwKUzHOr7wrpRfdp9p+013K6fVzI3PTRtM7ZW71G+tdazhOsgc/89ICa3BmDJbK9lvGimMJUq+S45Tog4/j32ps8hLO9gakF1S+yBlsychOcYTYZSJCXbI894bvUQ5/orjlggPr0FTxi0rYJi/IOwIX1fXFXnrb9S5JsFw0oQ2Ih9b5CGovdZD/eBIMxqDYlGx/5CDNx1jOmJl+lay/4nMJkbDoY9KmUmyKv1pzEIKxfZINR2AWLAWol6yumSbipTLZ11LiRvfEX7ir6YSF2M9gfPpPJdEgy7OuoTZZQhIeCjzHetYLuhgu0FDb3ss8eLoVtVJv01CCon6lODDuZvZ8ID46dl6obgZtiCoxpfcwNG4JYkpGJsY9mOYvUpojFx+DmhcqqO051Qxu1KvEdJwgQMKSs1yAwRw6K0lBMGP0DPjeDuL3ey2bMl1JWkS8uEPCQTne1QWU2pkvUgN/EeOJ4qYdUmIEDoLjZifTOYSvE0kb5bm3QVM3PTsRkkBuldSp9cRsvkgozmXvLHzXVlIKG2bA0OcstGiImzrRyHYzIXATVs5IsMJzlSoSBQth9VdvaNZfKD7qwOAcw6iBSC0u8B0I=" />

        <activity android:name=".activity.Navigation" />
        <activity android:name=".activity.Search"/>
        <activity android:name=".activity.ResultListActivity"/>
    </application>

</manifest>